body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
}

div, span, section, h1, h2, h3, h4, label {
  font-family: 'sans-serif';
}